<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<display-name>UpdateUser</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<display-name>DeleteUserServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewUserServlet</servlet-name>
		<display-name>AddNewUserServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.AddNewUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCategoryServlet</servlet-name>
		<display-name>AddCategoryServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.AddCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCategoryServlet</servlet-name>
		<display-name>UpdateCategoryServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCategoryServlet</servlet-name>
		<display-name>DeleteCategoryServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProductServlet</servlet-name>
		<display-name>AddProductServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.AddProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateProductServlet</servlet-name>
		<display-name>UpdateProductServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProductServlet</servlet-name>
		<display-name>DeleteProductServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/update_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/delete_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewUserServlet</servlet-name>
		<url-pattern>/add_new_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCategoryServlet</servlet-name>
		<url-pattern>/add_new_category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCategoryServlet</servlet-name>
		<url-pattern>/update_category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCategoryServlet</servlet-name>
		<url-pattern>/delete_category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/add_new_product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProductServlet</servlet-name>
		<url-pattern>/update_product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProductServlet</servlet-name>
		<url-pattern>/delete_product</url-pattern>
	</servlet-mapping>


</web-app>
